
<footer class="max-w-7xl mx-auto px-4 py-6 text-sm text-gray-500 border-t">
     © {{ "now"|date("Y") }} Théologie Saint François de Sales

</footer>


<!-- SCRIPT CLEAN -->
<script>
const btn = document.getElementById("formation-btn");
const dropdown = document.getElementById("dropdown");
const arrow = document.getElementById("arrow");

const mobileBtn = document.getElementById("menu-btn");
const mobileMenu = document.getElementById("mobile-menu");

const mobileFormationBtn = document.getElementById("mobile-formation-btn");
const mobileDropdown = document.getElementById("mobile-dropdown");

// DESKTOP DROPDOWN
btn.addEventListener("click", (e) => {
    e.stopPropagation();
    dropdown.classList.toggle("hidden");
    arrow.classList.toggle("rotate-180");
});

// CLOSE OUTSIDE
document.addEventListener("click", () => {
    dropdown.classList.add("hidden");
    arrow.classList.remove("rotate-180");
});

// MOBILE MENU
mobileBtn.addEventListener("click", () => {
    mobileMenu.classList.toggle("hidden");
});

// MOBILE DROPDOWN
mobileFormationBtn.addEventListener("click", () => {
    mobileDropdown.classList.toggle("hidden");
});
</script>

</body>
</html>